<?xml version = "1.0" encoding = "utf-8"?>

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/car_catalog</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12345</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

        <mapping class="ru.job4j.cars_storage.models.Car"/>
        <mapping class="ru.job4j.cars_storage.models.Engine"/>
        <mapping class="ru.job4j.cars_storage.models.Transmission"/>
        <mapping class="ru.job4j.cars_storage.models.Carcass"/>
        <mapping class="ru.job4j.cars_storage.models.Driver"/>

    </session-factory>
</hibernate-configuration>